.login-margin-bottom {
  margin-bottom: 21px;
}
.captcha {
  transform: scale(0.95) !important;
  -webkit-transform: scale(0.95) !important;
  transform-origin: 0 0 !important;
  -webkit-transform-origin: 0 0 !important;
}
.svg-center {
  display: block;
  margin: auto;
}

.header-icon {
  margin-top: 2px;
  margin-right: 6px;
}
#card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-container {
  width: 290px;
  height: 290px;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#card figure {
  display: block;
  width: 100%;
  font-weight: bold;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

#card .back {
  background: white;
  height: 100%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.awesomeButton {
  background-color: transparent;
  border: none;
  font-size: 30px;
}
.flip-table tr {
  text-align: center;
  width: 100%;
  display: inline-table;
}
.flip-table th {
  text-align: center;
}
.flip-table td {
  width: 50%;
}
.flip-table tbody {
  overflow-y: scroll;
  height: 200px;
  position: absolute;
}

// Begining of Loader
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

.sk-circle-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out;
  animation: sk-bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle3:before {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.0);
  }
  40% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.sk-three-bounce {
  width: 80px;
  text-align: center;
}
.sk-three-bounce .sk-child {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-three-bounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.barchart-tooltip {
  line-height: 1;
  padding: 12px 12px;
  background: #fff;
  color: #000;
  border-radius: 1px;
  z-index: 999;
}
/* Creates a small triangle extender for the tooltip */
.barchart-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 14px;
  width: 100%;
  line-height: 1;
  color: #fff;
  content: "\25BC";
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
}

// Error icons
.icon-white {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  color: white;
}
.icon-white:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.icon-blue {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  color: #428bca;
}
.icon-blue:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.icon-linkfy:hover {
  color: #428bca;
}
// Step Zilla

ol.progtrckr {
  text-align: center;
  margin: 0;
  padding-bottom: 2.2rem;
  list-style-type: none;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  padding: 0 0.7rem;
  cursor: pointer;
}
ol.progtrckr li span {
  padding: 0 1.5rem;
}
@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}
@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #33c3f0;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #33c3f0;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}
ol.progtrckr li.progtrckr-todo:hover:before {
  color: #0fa0ce;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #33c3f0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:hover:before {
  color: #0fa0ce;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #33c3f0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:hover:before {
  color: #0fa0ce;
}

.footer-buttons {
  height: 39px !important;
}

.pt-14 {
  margin-top: 14px;
}

.pt-10 {
  margin-top: 10px;
}

.pt-20 {
  margin-top: 20px;
}

.va-lt {
  padding-top: 0px !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
  text-align: left !important;
}

.va-right {
  padding-right: 0px !important;
  margin-right: 0px !important;
  text-align: right !important;
  vertical-align: right;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.switch-button-background {
  background-color: #0091ea !important;
}

@media (min-width: 768px) {
  .button-group-align {
    float: right;
  }
}

@media (max-width: 768px) {
  .text-center-xs {
    text-align: center;
  }
}

.leaflet-container {
  z-index: 0 !important;
}

.btn span.fa {
  opacity: 0;
}
.btn.active span.fa {
  opacity: 1;
}

[data-toggle="buttons"] {
  > .custom-data-toggle,
  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
}

table td {
  border-top: none !important;
}

.w45 {
  width: 45px;
}

.custom-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}

.custom--multi .custom-select-value-icon:hover,
.custom--multi .custom-select-value-icon:focus {
  background-color: #d8eafd;
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}

.custom-select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
  padding: 2px 5px;
}

.custom-select-value {
  background-color: #ebf5ff;
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: top;
  cursor: pointer;
}

.custom--multi .custom-select-value-icon,
.custom--multi .custom-select-value-label {
  display: inline-block;
  vertical-align: middle;
}

.custom-select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.custom-multi-value-wrapper {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.btn-group-custom-selector {
  display: inline-block;
  padding: 5px;
}

.clearer {
  clear: both;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.equal-width-tabs > ul.nav.nav-tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.equal-width-tabs > ul.nav.nav-tabs > li {
  width: 100%;
  height: 100%;
  display: table-cell;
}
.equal-width-tabs > ul.nav.nav-tabs > li > a {
  height: 100%;
  text-align: center;
}

// login & register background
.login-background-animation {
  background: url('/img/blurbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d;
  animation: scrollBgGridLinks 50s infinite linear;
  -webkit-animation: scrollBgGridLinks 50s infinite linear;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@keyframes scrollBgGridLinks {
  0% {
    background-position: top;
  }
  25% {
    background-position: bottom;
  }
  50% {
    background-position: top;
  }
  75% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
.center-middle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// stepzilla custom theme start
ol.progtrckr li.progtrckr-todo {
  color: gb(207, 219, 226);
  border-bottom: 4px solid gb(207, 219, 226);
}
ol.progtrckr li.progtrckr-todo:before {
  background-color: rgba(255, 0, 0, 0.0);
}
ol.progtrckr li.progtrckr-doing:before {
  color: white;
  background-color: $brand-primary;
}
ol.progtrckr li.progtrckr-doing {
  border-bottom: 4px solid $brand-primary;
}
ol.progtrckr li.progtrckr-done:before {
  color: white;
  background-color: $brand-primary;
}
ol.progtrckr li.progtrckr-done {
  border-bottom: 4px solid $brand-primary;
}
// stepzilla custom theme end

.vcenter {
  display: flex;
  align-items: center;
}

// label outline
.label-outline {
  background-color: transparent;
  &.label-inverse {
    border: 1px solid $brand-inverse;
    color: $brand-inverse;
  }
  &:hover,
  &:focus,
  &:active,
  &.hover,
  &.focus,
  &.active {
    color: #000;
  }
}

.my-app-body {
  height: 230px;
}

.my-apps-option-bar {
  height: 60px;
}

.add-new-item {
  height: 290px;
}

.add-application-panel {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.my-apps-package-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.full-width {
  width: 100%;
}

.carousel-inner img {
  margin: auto;
}

.full-height {
  height: 100%;
}

.rc-time-picker {
  height: 100% !important;
}

.rc-time-picker-input {
  height: 36px;
  border-radius: 4px;
  border-color: #d9d9d9 #ccc #b3b3b3 !important;
  border-top-color: rgb(204, 204, 204) !important;
  border-right-color: rgb(204, 204, 204) !important;
  border-bottom-color: rgb(204, 204, 204) !important;
  border-left-color: rgb(204, 204, 204) !important;
}

@media (min-width: 768px) {
  .add-time-button {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .add-time-button {
    margin-top: 15px;
  }
}

.time-picker-title {
  white-space: nowrap;
}

@media (min-width: 991px) {
  .thumb-image {
    width: 100%;
    max-width: 96px;
  }
}

@media (max-width: 991px) {
  .thumb-image {
    width: 96px;
  }
}

.popover {
  background: #232735;
}

.popover-content {
  background: #232735;
  color: #ffffff;
  font-size: 12px;
}

.popover.top .arrow:after {
  border-top-color: #232735;
}

.popover.bottom .arrow:after {
  border-bottom-color: #232735;
}

// Mobile device custom css start
.device {
  background: #000;
  padding: 63px 10px 50px;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 550px !important;
  min-width: 340px !important;
  max-height: 680px !important;
  max-width: 347px !important;
  z-index: 9;
  box-shadow: 0px 0px 1.74px 0.26px rgba(0, 0, 0, 0.004), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.004);
  border-top-left-radius: 200px 30px;
  border-top-right-radius: 200px 30px;
  border-bottom-left-radius: 200px 30px;
  border-bottom-right-radius: 200px 30px;
  border: 2px solid #525053;

  // for scaling device size
  -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.8); /* FF3.5+ */
  -ms-transform: scale(0.8); /* IE9 */
  -o-transform: scale(0.8); /* Opera 10.5+ */
  transform: scale(0.8);
}

.screen {
  height: 635px;
  min-height: 550px !important;
  max-height: 600px;
  max-width: 350px;
  background: #2f2f2f;
  background-repeat: no-repeat;
  background-position: center;
}

.camera {
  background: rgb(56, 56, 56);
  position: absolute;
  left: 42px;
  top: 26px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(114deg, rgb(132, 129, 132) 0%, rgb(14, 14, 14) 100%);
  background-image: -webkit-linear-gradient(114deg, rgb(132, 129, 132) 0%, rgb(14, 14, 14) 100%);
  background-image: -ms-linear-gradient(114deg, rgb(132, 129, 132) 0%, rgb(14, 14, 14) 100%);
  box-shadow: 0.899px 0.438px 0px 0px rgba(0, 0, 0, 0.29), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.26);
}

.speaker {
  background: rgb(56, 56, 56);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 26px;
  background-image: -moz-linear-gradient(114deg, rgb(132, 129, 132) 0%, rgb(14, 14, 14) 100%);
  background-image: -webkit-linear-gradient(114deg, rgb(132, 129, 132) 0%, rgb(14, 14, 14) 100%);
  background-image: -ms-linear-gradient(114deg, rgb(132, 129, 132) 0%, rgb(14, 14, 14) 100%);
  box-shadow: 0.899px 0.438px 0px 0px rgba(0, 0, 0, 0.29), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.26);
}

.camera:after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: rgb(125, 127, 144);
  position: absolute;
  left: 3px;
  top: 3px;
  width: 3px;
  height: 3px;
  z-index: 7;
}

.nav-device {
  background: #000;
  height: 48px;
  width: 100%;
  display: flex;
  padding: 0 25px;
  box-sizing: border-box;
  opacity: 0.6;
}

.nav-device div {
  border: 2px solid white;
  height: 16px;
  width: 16px;
  margin: 16px 40px;
}

.overview {
  border-radius: 3px;
}

.home {
  border-radius: 50%;
}

.nav-device .back {
  border: none;
  height: 17px;
  width: 2px;
  position: relative;
  background: #fff;
}

#back:before {
  content: "";
  position: absolute;
  display: block;
  height: 18px;
  width: 2px;
  transform: rotate(45deg);
  background: #fff;
  left: -7px;
  top: -5px;
  -webkit-transform: rotate(60deg);
}

#back:after {
  content: "";
  position: absolute;
  display: block;
  height: 18px;
  width: 2px;
  transform: rotate(-60deg);
  background: #fff;
  left: -7px;
  top: 3px;
  -webkit-transform: rotate(-60deg);
}

.powerbutton {
  background: #000;
  box-shadow: 0px 0px 0.87px 0.13px rgba(0, 0, 0, 0.58), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.14);
  position: absolute;
  left: 390px;
  top: 101px;
  width: 5px;
  height: 51px;
  z-index: 1;
}

.volumebutton {
  background: #000;
  position: absolute;
  left: -6px;
  top: 152px;
  width: 6px;
  height: 110px;
  z-index: 10;
}

.offerImage {
  height: 200px;
}
.marginTextArea {
  margin-top: 10%;
}
.closeButtonPosition {
  margin-top: 10px;
}

// Places ok, cancel, not now
// buttons bottom-center of device screen
.buttonAreaBottom {
  bottom: 0px !important;
  position: absolute !important;
  width: 100%;
}
.btn-offer {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: rgba(0, 0, 0, .8);
  border: 1px solid #999;
  border: transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
  margin-right: 5px;
  margin-left: 5px;
}
.offerButtonArea {
  text-align: 'center !important';
  width: 100%;
}
// Mobile device custom css end

//Push notification add button
.push-add-btn {
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  margin-left: 3px;
  padding-left: 15px;
}

.push-device-id {
  max-width: 260px;
  min-width: 260px;
}

.device-table {
  height: 50px;
  outline-offset: -10px;
}

.expandableListChilds {
  height: 50px;
  padding-top: 12.5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.trash-icon {
  height: 50px;
}

.sort-asc {
  position: absolute;
  right: 2px;
  top: 45%;
}

.sort-desc {
  position: absolute;
  right: 2px;
  top: 30%;
}

.expandableList {
  position: relative;
}

.selectedExpandableListItem table tr td {
  color: #fff !important;
  background-color: #5d9cec !important;
}

.text-bold-hover:hover {
  color: #5d9cec !important;
  font: bold;
}
.text-bold-hover:hover:after {
  color: #5d9cec !important;
  font: bold;
  content: '  Send PN';
}
// Upload area css
.box-placeholder {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px dashed #ddd;
  background: #fafafa;
  color: #444;
}

.DayPickerInput {
  width: 100%;
}

.DayPicker {
  background: white;
  z-index: 100;
}

.day-picker {
  width: 100%;
  height: 34px;
}

.campaign-about-inputs {
  height: 34px;
}

.no-available-data {
  font-size: 24px;
  position: relative;
  top: 45%;
}

.required-field::-webkit-input-placeholder {
  /* Chrome */
  color: red;
}
.required-field:-ms-input-placeholder {
  /* IE 10+ */
  color: red;
}
.required-field::-moz-placeholder {
  /* Firefox 19+ */
  color: red;
  opacity: 1;
}
.required-field:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: red;
  opacity: 1;
}

// Bug fix for safari
.ReactTable {
  display: block;
}

.rt-td:last-child {
  overflow: visible !important;
}

// Centers segmentation tab titles
#segmentation-modal  ul {
  display: flex;
  height: 90px;
}
#segmentation-modal li > a {
  display: flex;
  align-items: center;
}

.block-with-text {
  width: 700px;
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  height: 50px;
  text-align: center;
  overflow: hidden;
}

.private-label {
  position: absolute;
  right: 30px;
  top: 10px;
}

.platform-image {
  position: absolute;
  left: 30px;
  top: 10px;
}

@media (max-width: 768px) {
  .footer-custom-center {
    text-align: center;
    margin-top: 5px;
  }
}

.testpn-button {
  padding: 6px !important;
}

.leaflet-touch .leaflet-draw-actions a {
  background-color: black;
}

[data-overlay],
[data-overlay-light] {
  position: relative;
}

[data-overlay]::before,
[data-overlay-light]::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #191919;
}

[data-overlay="6"]::before {
  opacity: 0.6;
}

.z-index-1 {
  z-index: 1;
}

.top-trending-table-th {
  text-align: center;
  width: 25%;
}

.tooltip-csv {
  margin-top: 20;
  text-decoration: none;
  position: relative;
}

.tooltip-csv span {
  display: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: black;
}

.tooltip-csv span img {
  float: left;
}

.tooltip-csv:hover span {
  display: block;
  position: absolute;
  top: 0;
  margin-left: 50px;
  z-index: 1000;
  width: auto;
  margin-left: 130px;
  margin-top: 16px;
  overflow: hidden;
}

.new-register-label {
  z-index: 1;
  position: absolute !important;
  left: 25px !important;
  bottom: 12px !important;
  padding-left: 0px !important;
  font-size: 18px !important;
}

.device-counter-position {
  position: absolute !important;
  zoom: 0.4 !important;
  bottom: 0px !important;
  padding-left: 320px !important;
  display: flex !important;
  justify-content: flex-start !important;
}

.time-counter-position {
  zoom: 0.4 !important;
  position: absolute !important;
  bottom: 0px !important;
  padding-right: 100px !important;
  display: flex !important;
  justify-content: flex-end !important;
  // hides titles
  .flip-clock-label {
    display: none !important;
  }
}

// bootstrap nav css override - start
.tv-nav.nav.nav-pills .active > a {
  background-color: #7266ba;
}
.tv-nav.nav-pills > li.active > a,
.tv-nav.nav-pills > li.active > a:hover,
.tv-nav.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #7266ba;
}
.tv-nav > a {
  color: #515253;
  text-decoration: none;
}
// bootstrap nav css override - end
