/* ========================================================================
     Component: typo
 ========================================================================== */

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,400italic);

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-weight: bold;
}
